
#animated-gif-container {
  width: 48px;
  height: 48px;
  /*background: #e0ffc7 url(../img/vigyorpofa.gif) no-repeat center center;*/
  background: url(../img/vigyorpofa.gif) no-repeat center center;
}