{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block content%}
{% if user %}
    {{ user }}
{#    {% for account in user.socialaccount_set.all %}#}
{#        {{ account.provider }}#}
{#        <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>#}
{#    {% endfor %}#}

    <img src="{{ profile_image_url }}" alt="">
    {{ profile.country }}
{#    <img src="{{ profile.icon_bookmark.url }}" alt="">#}
    aaaaaaa
{#    <img src="{% static 'profile.icon_bookmark' %}" alt="">#}
{#    {% thumbnail "http://4.bp.blogspot.com/_YweZEYcp_cw/S5DZT1eaMfI/AAAAAAAAAiM/O6FIOU3PDr4/S1600-R/BS+H%E1%BB%92+H%E1%BA%A2I+IMAGE.JPG" "40x40" crop="80% top" as im %}#}
{#        <img src="{{ im.url }}">#}
{#    {% endthumbnail %}#}
    bbbbbbb
    {% thumbnail profile.icon_symbol "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    ccccccc
    {% thumbnail profile.icon_bookmark "100x100" crop="center" format="PNG" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% thumbnail profile.icon_bookmark "100x100" crop="center" format="PNG" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <img src="{{ profile.icon_bookmark.url }}" alt="">
{% endif %}
{% endblock %}